
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_UILayoutHeadComponentPartial")
  <body>

    @await Component.InvokeAsync("_UILayoutNavbarComponentPartial")
    <!-- END nav -->
    @await Component.InvokeAsync("_UILayoutMainCoverComponentPartial")

   @RenderBody()

    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")

  <!-- loader in FooterComponent-->

  @await Component.InvokeAsync("_UILayoutScriptComponentPartial")

  </body>
</html>
